{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link href="{% static './css/mainhome.css' %}" rel="stylesheet" />
  <title>Teaa Cafe</title>
</head>
<body>
  <div class="header">
    <!-- rectangle -->
    <div class="backing-rectangle"></div>

     <!-- images -->
    <div class="logo-container">
        <img src="{% static 'images/Logo.svg' %}" alt="Logo">
      </div>
    <img class="tea-image" src="{% static 'images/tea image.png' %}" alt="Tea Image">
    
   
    <a href="about.html">
      <img src="{% static 'images/About.svg' %}" alt="About" class="about">
    </a>

    <a href="home.html">
        <img src="{% static 'images/Home.svg' %}" alt="Home" class="home">
      </a>
    
      <a href="location.html">
        <img src="{% static 'images/Location.svg' %}"alt="Location" class="location">
      </a>

      <a href="order.html">
        <img src="{% static 'images/Order.svg' %}" alt="Order" class="order">
      </a>

  </div>
</body>
</html>
